<div class="interactive-head"><%= headline %></div>
<div class="interactive-intro"><%= intro %></div>
<div class="legend_head">Premature deaths per 100,000 people</div>
<div class="legend"><ul></ul></div>
<div id="canvas"></div>
<div class="source">SOURCE: <a href="http://www.countyhealthrankings.org/" target="_blank">CountyHealthRankings.org</a>. Figures are <a href="http://www.countyhealthrankings.org/our-approach/health-outcomes/premature-death" target="_blank">adjusted</a> to control for the age of each county's population.</div>